:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-background: #333;
    --header-text-color: #fff;
    --btn-background: #007BFF;
    --btn-text-color: #fff;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #f4f4f4;
    --header-background: #f4f4f4;
    --header-text-color: #333;
    --btn-background: #f4f4f4;
    --btn-text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.toggle-button img {
    width: 24px;
    height: 24px;
}

#hero {
    text-align: center;
    padding: 50px 0;
    background: var(--header-background);
    color: var(--header-text-color);
    transition: background-color 0.3s, color 0.3s;
}

#hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#hero .btn {
    background-color: var(--btn-background);
    color: var(--btn-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

footer {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s, color 0.3s;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer p {
    margin: 10px 0 0;
}
