:root {
    --background-color: #0d0d0d;
    --text-color: #ffffff;
    --header-background: #ff00ff;
    --header-text-color: #0d0d0d;
    --btn-background: #00ffff;
    --btn-text-color: #0d0d0d;
}

body.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #00ff00;
    --header-background: #00ffff;
    --header-text-color: #0d0d0d;
    --btn-background: #ff00ff;
    --btn-text-color: #0d0d0d;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.toggle-button img {
    width: 24px;
    height: 24px;
}

#hero {
    text-align: center;
    padding: 50px 0;
    background: var(--header-background);
    color: var(--header-text-color);
    transition: background-color 0.3s, color 0.3s;
}

#hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#hero .btn {
    background-color: var(--btn-background);
    color: var(--btn-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--header-background);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

footer {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s, color 0.3s;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer p {
    margin: 10px 0 0;
}
